body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
.table td {
    max-width: 200px;
}

.cuadro { border: 1px blue dotted ;padding: 10px 5px; }

textarea {
    resize: none;
}